<div class="newtask">
<a href="/tasks/show"> Home </a>
<br>
<span> <h1> New Task </h1> </span>
<br>
<p> Please add a new task! </p>
<br>

<form action="/tasks" method="POST">
    <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
   Description: <input type="text" name="task[description]">
   <hr>
   <br>
   <br>
   Date: <input type="date" name="task[date]">
   <hr>
   <br>
   <button type="submit"> Create </button>
</form>
</div>